

.vertical-flex-container {
  display: flex;
  min-height: fit-content;
  min-width: 400px;
  flex-direction: column;
  justify-content: center;
}

.horizontal-flex-container {
    display: flex;
    min-height: fit-content;
    min-width: fit-content;
    flex-direction: row;
    justify-content: center;
  }

.horizontal-slider {
    width: 100%;
    min-width: 200px;
    height: 60px;
    margin: auto;
}

.horizontal-slider:hover {
  border-width: 4px;
}

.horizontal-slider .default-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .default-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}

.default-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.default-thumb.active {
  background-color: grey;
}

.default-track {
  position: relative;
  background: #ddd;
}
.default-track.default-track-0 {
  background: #a7a7a7;
}

.default-track.default-track-1 {
  background: #83a9ff;
}

.default-track.default-track-2 {
  background: #a7a7a7;
}

