body {
    border: 2px solid red;
}

#moviemap-treemap:hover {
  cursor: crosshair;
}

#movie-group-title{
    font-size: 16px;
    font-weight: bold;
}

.score{
    font-size: 12px;
}

.group .member{
    stroke: black;
}

.group .title{
    stroke: none;
}

#moviemap-treemap > .group > .panel {
    fill-opacity: 50%;
}