.movie-map {

}

.movie-map .group {

}

.movie-map .group .panel {
    
}

.movie-map .group .title {
}

.movie-map .group:hover .title {
}

.movie-map .group .member {
    
}

.movie-map .group .member .panel {
    
}

.movie-map .group .member .title {
    
}

.movie-map .group .member .score {
    
}

rect.tile:hover {
    opacity: 0.35;
}

rect.tile {
    transition: 250ms opacity ease;
    opacity: 1;
}
.movable {
    position: absolute;
}

.App {
    width: 100%; 
    height: 100%;
}

#moviemap-container {
    background-color: #0d253f;
}

body {
    background-color: #0d253f;
    overflow: hidden;
}