.movie-map {

}

.movie-map .group {

}

.movie-map .group .panel {
    
}

.movie-map .group .title {
}

.movie-map .group:hover .title {
}

.movie-map .group .member {
    
}

.movie-map .group .member .panel {
    
}

.movie-map .group .member .title {
    
}

.movie-map .group .member .score {
    background-color: #3d3c3e;
}

rect.tile:hover {
    opacity: 0.35;
}

rect.tile {
    transition: 250ms opacity ease;
    opacity: 1;
}
.movable {
    position: absolute;
}

.App {
    width: 100%; 
    height: 100%;
}

#moviemap-container {
    left: 17vw;
    top: -1em;
}

body {
    background-color: #202020;
    overflow: hidden;
}

#toolbar-container {
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    background-color: #2c2c2c;
    width: 17vw;
}

#tooltip-container {
    z-index: 10;
}