.flex-container {
  display: flex;
}
.vertical-flex {
  display: flex;
  min-height: fit-content;
  min-width: fit-content;
  flex-direction: column;
  justify-content: center;
}

.horizontal-slider {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    height: 60px;
    margin: auto;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-0 {
  background: #a7a7a7;
}

.example-track.example-track-1 {
  background: #83a9ff;
}

.example-track.example-track-2 {
  background: #a7a7a7;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}